
# <ul class="mb3">
#     <li class="flex items-start w100p py3 border-bottom border-grey-500">
#         <div class="flex items-center justify-between w100p">
#         <a href="https://www.kickstarter.com/projects/881924267/interstate-the-musical-at-nymf-2018?ref=home_new_and_noteworthy" class="mr4 link-soft-black basis20p basis40p-md basis20p-lg block">
#         <img class="w100p block" src="https://ksr-ugc.imgix.net/assets/020/980/116/e7f1433c19fc0a5a3307d000d50731df_original.jpg?crop=faces&amp;w=208&amp;h=117&amp;fit=crop&amp;v=1524665442&amp;auto=format&amp;q=92&amp;s=af76f8f4d33497b628f8b84108d1dc81" alt="Project"></a>
#         <div class="basis60p-md basis80p">
#         <a class="type-14 block link-soft-black" href="https://www.kickstarter.com/projects/881924267/interstate-the-musical-at-nymf-2018?ref=home_new_and_noteworthy">Interstate at NYMF 2018!</a>
#         <div class="type-12 dark-grey-400 display-none block-md percent-funded"> 3% funded
#         </div>
#     </div>
#         <div class="pl6 display-none block-md"><div>
#         <button class="pill bg-white h6 w6 ksr-tooltip-no-focus text-nowrap flex p0 keyboard-focusable-transparent z1 no-outline" data-tooltip="Remind Me">
#         <svg class="svg-icon__icon--heart-outline icon-large m-auto hover-fill-soft-black fill-grey-500" aria-hidden="false" aria-label="Remind Me">
#         <use xlink:href="#icon--heart-outline"></use>
#         </svg>
#         </button>
#         </div>
#         </div>
#     </div>
#     </li><li class="flex items-start w100p py3 border-bottom border-grey-500"><div class="flex items-center justify-between w100p"><a href="https://www.kickstarter.com/projects/1456069708/becoming-american?ref=home_new_and_noteworthy" class="mr4 link-soft-black basis20p basis40p-md basis20p-lg block"><img class="w100p block" src="https://ksr-ugc.imgix.net/assets/020/989/445/8f1754bbaa260c12c21556df706e1400_original.jpg?crop=faces&amp;w=208&amp;h=117&amp;fit=crop&amp;v=1524896827&amp;auto=format&amp;q=92&amp;s=028aed1b48804168ea228800bd655915" alt="Project"></a><div class="basis60p-md basis80p"><a class="type-14 block link-soft-black" href="https://www.kickstarter.com/projects/1456069708/becoming-american?ref=home_new_and_noteworthy">Becoming American</a><div class="type-12 dark-grey-400 display-none block-md percent-funded"> 70% funded</div></div><div class="pl6 display-none block-md"><div><button class="pill bg-white h6 w6 ksr-tooltip-no-focus text-nowrap flex p0 keyboard-focusable-transparent z1 no-outline" data-tooltip="Remind Me"><svg class="svg-icon__icon--heart-outline icon-large m-auto hover-fill-soft-black fill-grey-500" aria-hidden="false" aria-label="Remind Me"><use xlink:href="#icon--heart-outline"></use></svg></button></div></div></div></li><li class="flex items-start w100p py3 border-bottom border-grey-500"><div class="flex items-center justify-between w100p"><a href="https://www.kickstarter.com/projects/574478548/upside-down-a-live-dance-performance-and-art-insta?ref=home_new_and_noteworthy" class="mr4 link-soft-black basis20p basis40p-md basis20p-lg block"><img class="w100p block" src="https://ksr-ugc.imgix.net/assets/021/063/184/d8fc6ef78155c044719fd3349564e8db_original.jpg?crop=faces&amp;w=208&amp;h=117&amp;fit=crop&amp;v=1525415354&amp;auto=format&amp;q=92&amp;s=d206ba9be27bdb74b7d900931a04b46c" alt="Project"></a><div class="basis60p-md basis80p"><a class="type-14 block link-soft-black" href="https://www.kickstarter.com/projects/574478548/upside-down-a-live-dance-performance-and-art-insta?ref=home_new_and_noteworthy">Upside Down : a live Dance Performance and Art Installation</a><div class="type-12 dark-grey-400 display-none block-md percent-funded"> 77% funded</div></div><div class="pl6 display-none block-md"><div><button class="pill bg-white h6 w6 ksr-tooltip-no-focus text-nowrap flex p0 keyboard-focusable-transparent z1 no-outline" data-tooltip="Remind Me"><svg class="svg-icon__icon--heart-outline icon-large m-auto hover-fill-soft-black fill-grey-500" aria-hidden="false" aria-label="Remind Me"><use xlink:href="#icon--heart-outline"></use></svg></button></div></div></div></li><li class="flex items-start w100p py3 border-bottom border-grey-500"><div class="flex items-center justify-between w100p"><a href="https://www.kickstarter.com/projects/1581279891/mom-and-pops-of-the-les-public-art-installation?ref=home_new_and_noteworthy" class="mr4 link-soft-black basis20p basis40p-md basis20p-lg block"><img class="w100p block" src="https://ksr-ugc.imgix.net/assets/021/286/823/7ebba91ce5d229fb8b0f9454805990ca_original.jpg?crop=faces&amp;w=208&amp;h=117&amp;fit=crop&amp;v=1526756030&amp;auto=format&amp;q=92&amp;s=bffb5a7c2ad72ca23f03782316808e3c" alt="Project"></a><div class="basis60p-md basis80p"><a class="type-14 block link-soft-black" href="https://www.kickstarter.com/projects/1581279891/mom-and-pops-of-the-les-public-art-installation?ref=home_new_and_noteworthy">Mom-and-Pops of the L.E.S. - Public Art Installation</a><div class="type-12 dark-grey-400 display-none block-md percent-funded"> 46% funded</div></div><div class="pl6 display-none block-md"><div><button class="pill bg-white h6 w6 ksr-tooltip-no-focus text-nowrap flex p0 keyboard-focusable-transparent z1 no-outline" data-tooltip="Remind Me"><svg class="svg-icon__icon--heart-outline icon-large m-auto hover-fill-soft-black fill-grey-500" aria-hidden="false" aria-label="Remind Me"><use xlink:href="#icon--heart-outline"></use></svg></button></div></div></div></li></ul>

    


# <div class="mentorModule" ng-click="directory.goToProfile($event,'rakib')">
# <div class="fake-mentor">
# <div class="row-fluid">
# <div class="span3">
# <div class="fake-avatar"></div>
# <div class="fake-rate"></div>
# </div>
# <div class="span9">
# <div class="fake-info"></div>
# <div class="fake-info"></div>
# <div class="fake-info"></div>
# <div class="fake-info"></div>
# </div>
# </div>
# </div>
# <div class="row-fluid mentor-item-row">
# <div class="span3 text-center mentor-info">
# <div>
# <img alt="Rails 5 mentor, Rails 5 expert, Rails 5 code help" class="img-circle headImg" src="https://www.filepicker.io/api/file/BwFwaThAT5SlJgnR4p9v" title="K M Rakibul Islam (Rakib)">
# </div>
# <div class="rate">
# <a data-target="#signup-modal" data-toggle="modal" href=""><img style="width:90px;" src="/assets/hide_price.png"></a>
# </div>
# <a class="btn btn-success messageBtn" href="/rakib">
# View Profile
# </a>
# </div>
# <div class="span9 mentor-details">
# <a class="name" href="/rakib">
# K M Rakibul Islam (Rakib)
# </a>
# <span class="ratingNum">
# 5.0
# </span>
# <div class="rating">
# <span> ★ </span>  <span> ★ </span>  <span> ★ </span>  <span> ★ </span>  <span> ★ </span> 
# </div>
# <img width="57px" src="https://cdn.codementor.io/assets/picked_badge-eab1dda8c31a26451b63b7959ffe2310.png" alt="Picked badge">
# <sup class="online">
# <span class="available">
# <i class="icon-ok fa fa-flash" style="font-size:14px;margin-right:3px;"></i>
# INSTANT SESSION
# </span>
# </sup>
# <div class="headLine">
# <small>
# Top Ruby on Rails Mentor of January - December, 2017 &amp; January - May 2018 (17 months in a row!) at Codementor | Experienced (10+ years) and friendly Ruby on Rails Developer/Mentor  (with passion for helping others learn) | 1,09<em>5</em>+ Sessions
# </small>
# </div>
# <div class="about">
# I am the Top Ruby on Rails Mentor of January, February, March, April, May, June, July, August, September, October, November, December 2017 &amp; January, February, March, April, and May 2018 (17 months...
# </div>
# <div class="expertise">
# <div class="badge customizeBadge">
# <a class="removeDec" href="/ruby-on-rails-experts">
# Ruby on Rails
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/ruby-experts">
# Ruby
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/rspec-experts">
# Rspec
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/api-experts">
# Api
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/git-experts">
# Git
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/heroku-experts">
# Heroku
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/postgresql-experts">
# Postgresql
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/amazon-web-services-experts">
# Amazon web services
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/mysql-experts">
# MySQL
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/elasticsearch-experts">
# Elasticsearch
# </a>
# </div>
# <div class="badge customizeBadge">
# <a class="removeDec" href="/javascript-experts">
# JavaScript
# </a>
# </div>
# </div>
# <div class="hirable">
# * Available for freelance projects
# </div>
# </div>
# </div>
# </div>