<h1>Ask New Question</h1>

<%= form_for @chat_room do |f| %>
    <div class="form-group">
        <%= f.text_field :title, autofocus: true, class: 'ask form-control', placeholder: "what's your question" %>
    </div>

    <%= f.submit "ask the community!", class: 'btn btn-primary' %>
<% end %>