
<div class="home_page_container">
<div class="background">
    <%#<img id="landing_bg" src="/assets/mentorme_bg_full_size.jpg" alt="">%>
    <div class="bg_img"></div>
    <div class="container">
        <h1 class="pitch">
            <span>mentor or be mentored</span>
            </br>
            in your chosen field
            </br>
            through our easy to use
            </br>
            seamless platform
            </br>
        </h1>
        <a href="/users/sign_up"><button class="btn btn-primary register_button">register now</button></a>
    </div>
</div>  
</div>