
.home_page_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    width: 100vw;
    height: 100vh;
    transform: translateY(-55px);
    background: rgb(192, 192, 192);
    position: absolute;
    z-index: -10000;
    overflow: hidden;
}

#landing_bg {
    width: 100%;
    position: absolute;
    z-index: -1000;
}

.bg_img {
    z-index: -100;
    width: 710px;
    height: 728px;
    // background: url("mentorme_bg_sketch_half_page.jpg") no-repeat left center fixed;
    opacity: .75;
    position: absolute;
    top: 0px;
    left: 0px;
    transform: translateX(-100px)
}

.pitch {
    z-index: 100;
    text-align: right;
    padding-top: 200px;
    padding-right: 25px;
    color: #666;
    span {
        color: rgb(25, 87, 2);
        font-size: 1.5em;
        font-weight: bold;
        letter-spacing: 3px;
        transform: translateX(10px);
    }
}