<div class="profile_modal">
    <div class="user_info" id="profile_<%= @other_user.id %>">
        <a href="#" class="img_pop"><img class="profile_avatar" src="http://via.placeholder.com/100x100"><%# Click to Enlarge %></a>
        <ul>
            <li class="username"><%= @other_user.username %></li>
            <li>
                <% @other_user.profile_interest.attributes.each do |interest, value| %>
                    <%= "#{interest} /" if value == true %>
                <% end %>
            </li>
        </ul>
    </div>
    <div class="modal_user_blurb">
        <p>
            About Me: I am a web developer looking to build my community.
            My interests are above, I love meeting new people. Aside from tech,
            I also love dogs, hiking, and traveling! message me if you would
            like to chat about any of those topics or if you live int he NYC
            area and would like to meet up to talk tech!
        <p>
    </div>
</div>

