<div class="profile_modal">
    <div class="user_info" id="profile_<%= @other_user.id %>">
        <a href="#" class="img_pop"><img class="profile_avatar" src="http://via.placeholder.com/100x100"><%# Click to Enlarge %></a>
        <ul>
            <li class="username"><%= @other_user.username %></li>
            <li>
                <% @other_user.profile_interest.attributes.each do |interest, value| %>
                    <%= "#{interest} /" if value == true %>
                <% end %>
            </li>
        </ul>
    </div>
</div>

