
.login_button {
    padding: 5px 25px;
}

.register_button {
    float: right;
    padding: 10px 50px;
    margin-top: 25px;
    margin-right: 35px;
    font-size: 1.5em;
}

.register {
    padding: 5px 50px;
}

.save_interests {
    padding: 5px 40px;
}